@import url(//db.onlinewebfonts.com/c/49d7d84994c5449c08099a29f8e49ba3?family=MagistralC);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600&display=swap');
@font-face {
    font-family: "MagistralC";
    src: url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.eot");
    src: url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.woff") format("woff"), url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/49d7d84994c5449c08099a29f8e49ba3.svg#MagistralC") format("svg");
}

body {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 1em;
    vertical-align: center;
}

.card-title {
    font-size: 2em;
    font-weight: 600;
    color: #303235;
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.5em;
    padding-top: 0.5em;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    font-size: 6.8em;
    font-weight: bold;
    letter-spacing: 5px;
    color: #279EAA;
    font-family: MagistralC;
    letter-spacing: 1px;
}

.title {
    font-size: 1.8em;
    font-weight: 600;
    color: #303235;
}

@media only screen and (max-width: 1180px) {
    body {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 940px) {
    body {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 650px) {
    body {
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 0.3em;
    }
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 0.25em;
    }
}