@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 1em;
}

.card-title {
    font-size: 2em;
    font-weight: 600;
    color: #303235;
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.5em;
    padding-top: 0.5em;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3F3493;
}

.visits {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3F3493;
}

.data {
    font-size: 11em;
    font-weight: 200;
    letter-spacing: 5px;
}

.title {
    font-size: 2em;
    font-weight: 500;
}

@media only screen and (max-width: 1180px) {
    body {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 940px) {
    body {
        font-size: 0.6em;
    }
    .data {
        font-size: 9em
    }
}

@media only screen and (max-width: 650px) {
    body {
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 0.3em;
    }
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 0.25em;
    }
}